.s-role-t {
  padding-top: 30px;
  text-align: center;
  font-size: 22px;
}
.role {
  text-align: center;
}
.role li {
  padding-top: 40px
}
.role img {
  width: 165px;
  height: 165px;
  border-radius: 50%;
}
.role p {
  padding-top: 10px;
  font-size: 17px;
}