.s-role-t {
  padding-top: .8rem;
  text-align: center;
  font-size: 26px;
}
.role {
  text-align: center;
}
.role li {
  padding-top: 1.066667rem
}
.role img {
  width: 3.066667rem;
  height: 3.066667rem;
  border-radius: 50%;
}
.role p {
  padding-top: .266667rem;
  font-size: 17px;
}