.company {
  line-height: 44px;
  font-size: 15px;
  color: #0D221A;
  border-bottom: 1px solid #ddd;
}
.item li {
  width: 50%;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  color: #0D221A;
  padding: 40px 0 40px 15px;
  float: left;
}
.item li:nth-child(2n+1) {
  border-right: 1px solid #ddd;
}
.item .icon-pic {
  width: 47px;
}
.item .icon-pic, .item span {
  display: inline-block;
  vertical-align: middle;
}
.item span {
  padding-left: 5px;
}
.search-input {
  background: #FFFFFF;
  border-radius: 29px;
  line-height: 29px;
  color: #888B89;
  font-size: 14px;
  flex: 1;
}