.filter {
  position: fixed;
  top: 1.2rem;
  width: 100%;
  z-index: 6;
}
.filter-space {
  width: 100%;
  height: .267rem;
  background: #F8F8F8;
}
.filter-ul {
  padding: .32rem 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.time-wrap {
  padding: .4rem;
  background-color: #fff;
  overflow: hidden;
  line-height: .907rem;
  font-size: 15px;
}
.time-wrap .f-l {
  border: 1px solid #DDDDDD;
  border-radius: .453rem;
  height: .907rem;
  padding: 0 .267rem;
  font-size: 16px;
  color: #0D221A;
}
.time-wrap .title-info {
  font-size: 18px;
  color: #0D221A;
  float: left;
}
.time-wrap .title-info i {
  color: #FBAF34;
  margin-right: .24rem;
  font-size: 18px
}
.time-wrap .iconfont {
  color: #3CB371;
  font-size: 16px;
}
.time-wrap .f-r span {
  margin-left: .667rem;
  display: inline-block;
  color: #01B372;
}
.time-wrap .f-r span.yellow {
  color: #FB7C11;
}
.time-wrap .f-r span.blue {
  color: #4B9CF2;
}
.filter-ul li {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 13px;
  color: #888B89;
  line-height: .533rem;
  border-right: 1px solid #DDDDDD;
  position: relative;
}
i.arrow-icon {
  border-width: .133rem;
  display: inline-block;
  border-style: solid;
  vertical-align: middle;
  margin-left: 0.133rem;
  border-color: #BEBEBE transparent transparent transparent;
}
.active i.arrow-icon {
  transform: rotate(180deg);
  transform-origin: center 25%;
}
.filter-ul li:last-child {
  border-right: none;
}
.filter-ul li.active:after, .filter-ul li.active:before {
  border-width: 5px;
  display: inline-block;
  content: "";
  border-style: solid;
  position: absolute;
  left: 50%;
  margin-left: -5px;
}
.filter-ul li.active:after {
  border-color: transparent transparent #fff transparent;
  bottom: -0.36rem;
}
.filter-ul li.active:before {
  border-color: transparent transparent #DDDDDD transparent;
  bottom: -0.32rem;
}

/* filter */

.histroy_info dt, .enter-info dt {
  line-height: .907rem;
  background: #F8F8F8;
  color: #0D221A;
  font-size: 15px;
}
.histroy_info dt span, .enter-info dt span {
  margin-left: .267rem;
}
.histroy_info dt .f-r, .enter-info dt .f-r {
  font-size: 12px;
  color: #888B89;
}
.histroy_info dd, .enter-info dd {
  color: #888B89;
  padding: .133rem .4rem;
  line-height: .533rem;
  background-color: #fff;
}
.state {
  position: absolute;
  font-size: 13px;
  line-height: .48rem;
  padding: 0 .133rem;
  right: .4rem;
  top: 50%;
  color: #fff;
  border-radius: .24rem;
  background: #3CB371;
  transform: translateY(-50%)
}
.enter-info .status {
  font-size: 13px;
  line-height: .48rem;
  padding: 0 .133rem;
  border-radius: .24rem;
  color: #3CB371;
  border: 1px solid #3CB371;
}
.enter-info .status-yellow {
  color: #FB7C11;
  border-color: #FB7C11;
}
.enter-info dd {
  position: relative;
}
.state-yellow {
  background: #FBAF34;
}
.map-icon {
  position: absolute;
  right: .4rem;
  top: 50%;
  transform: translateY(-50%);
  color: #4B9CF2;
}
.map-icon i {
  font-size: 20px;
}