.notice-title {
  background: #fff;
  padding: .4rem
}
.notice-title img {
  height: .64rem;
  display: inline-block;
}
.notice-title span {
  display: inline-block;
  padding-left: .267rem;
  font-size: 15px;
  color: #0D221A;
}
.notice-info {
  padding: .4rem;
}
.notice-info li {
  background: #FFFFFF;
  border-radius: 10px;
  padding: .4rem;
  margin-bottom: .133rem
}
.notice-info li p {
  color: #0D221A;
  font-size: 15px;
}
.notice-info li span {
  color: #888B89;
  padding-top: .266rem;
  display: block;
}
.send-btn {
  border: 1px solid #3CB371;
  border-radius: 6px;
  font-size: 13px;
  color: #3CB371;
  float: right;
  line-height: .693rem;
  padding: 0 .067rem;
}
.send-notice {
  background: #3CB371;
  line-height: 1.333333rem;
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: fixed;
  z-index: 5;
  bottom: 0;
}