.edit {
  color: #DDDDDD;
  padding-top: 15px;
  position: relative;
}
.edit textarea {
  border: 0;
  width: 100%;
  color: #333;
  font-size: 14px;
  text-indent: 30px;
}
.edit textarea::placeholder {
  color: #DDDDDD;
}
.edit i {
  position: absolute;
  top: 15px;
  left: 0;
  font-size: 14px;
}
.send-notice {
  background: #3CB371;
  line-height: 50px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: fixed;
  z-index: 5;
  bottom: 0;
}