.histroy_info {
  position: fixed;
  top: 1.2rem;
  width: 100%;
}
.histroy_info dt, .enter-info dt {
  line-height: .907rem;
  background: #F8F8F8;
  color: #0D221A;
  font-size: 15px;
}
.histroy_info dt span, .enter-info dt span {
  margin-left: .267rem;
}
.histroy_info dt .f-r, .enter-info dt .f-r {
  font-size: 12px;
  color: #888B89;
}
.histroy_info dd, .enter-info dd {
  color: #888B89;
  padding: .133rem .4rem;
  line-height: .533rem;
  background-color: #fff;
}