.my-notice {
  background: #FFFFFF;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.10);
  padding: 1rem;
  margin-top: .667rem;
}
.my-notice img {
  height: 1.333rem;
}
.my-notice p {
  padding-left: 1.6rem;
  font-size: 17px;
  color: #0D221A;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.my-notice p span {
  background: #F3213A;
  width: .133rem;
  height: .133rem;
  position: absolute;
  right: -0.067rem;
  top: 0;
  border-radius: 50%;
}
.login-out {
  position: fixed;
  bottom: 2.667rem;
  width: 100%;
}
.login-out-btn {
  background: #F65468;
  border-radius: 6px;
  line-height: 1.333333rem;
  width: 100%;
  text-align: center;
  font-size: 18px;
}