.my-notice {
  background: #FFFFFF;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.10);
  padding: 36px;
  margin-top: 25px;
}
.my-notice img {
  height: 50px;
}
.my-notice p {
  padding-left: 60px;
  font-size: 17px;
  color: #0D221A;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.my-notice p span {
  background: #F3213A;
  width: 5px;
  height: 5px;
  position: absolute;
  right: -3px;
  top: 0;
  border-radius: 50%;
}
.login-out {
  position: fixed;
  bottom: 100px;
  width: 100%;
}
.login-out-btn {
  background: #F65468;
  border-radius: 6px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}