.date-wrap {
  padding-left: 15px
}
.date-wrap h2 {
  padding: 15px 0;
  font-size: 16px;
  color: #0D221A;
}
.date-ul {
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.date-ul li {
  float: left;
  width: 25%;
  padding-right: 15px;
}
.date-ul li span {
  background: #fff;
  border: 1px solid #4A4A4A;
  border-radius: 6px;
  color: #0D221A;
  display: inline-block;
  text-align: center;
  width: 100%;
  line-height: 34px;
}
.date-ul li.active span {
  color: #FFFFFF;
  background: #4A4A4A;
}
.time-range .time {
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  line-height: 34px;
  font-size: 16px;
  width: 133px;
  text-align: center;
  font-size: 10px;
}
.time-range>div {
  display: inline-block;
  color: #0D221A;
}
i.arrow-icon {
  border-width: 5px;
  display: inline-block;
  border-style: solid;
  vertical-align: middle;
  margin-left: 5px;
  border-color: #BEBEBE transparent transparent transparent;
}