/* 1 */


/* 2 */


/* 3 */

.search-input {
  background: #FFFFFF;
  border-radius: 29px;
  line-height: .773rem;
  color: #888B89;
  font-size: 14px;
  flex: 1;
}
.sign-ul {
  display: flex;
  align-content: space-between;
  margin: .667rem 0;
}
.sign-ul li {
  flex: 1;
  padding-top: 1.12rem;
  padding-bottom: .8rem;
  text-align: center;
  background: #4B9CF2;
}
.sign-ul li img {
  height: 1.5rem
}
.sign-ul li p {
  font-size: 15px;
  margin-top: .493rem
}
.sign-ul li.code {
  background: #4FC081;
}
.sign-ul li:first-child {
  margin-right: .2rem
}
.sign-ul li:last-child {
  margin-left: .2rem
}
.sing-info {
  color: #888B89;
  margin-top: .4rem;
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.20);
  border-radius: 10px;
}
.sing-info dt {
  border-bottom: 1px dotted #DDDDDD;
  padding: .267rem .4rem;
  position: relative;
}
.sing-info dt span {
  color: #3CB371;
  border: 1px solid #3CB371;
  border-radius: 19px;
  line-height: .48rem;
  padding: 0 .267rem;
  position: relative;
}

/* .sing-info dt:before {
  width: .267rem;
  height: .533rem;
  content: "";
  background-color: #F8F8F8;
  position: absolute;
  border-radius: 0 .267rem .267rem 0;
  box-shadow: 2px 0px 1px 0 rgba(0, 0, 0, 0.20);
  left: -4px;
  bottom: -0.267rem;
} */

.sing-info dd {
  font-size: 13px;
  padding: .4rem;
}
.sing-info dd h2 {
  font-size: 19px;
  color: #3CB371;
  padding-bottom: .133rem;
}
.sing-info dd h2 span {
  color: #0D221A;
  font-size: 13px;
}
.sing-info dd li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: .133rem;
}

/* 4 */

.header-mid input {
  text-align: center;
}
.header-mid input::placeholder {
  color: #888B89;
}
.search-list li, .company-list li {
  padding-left: .4rem;
  color: #0D221A;
}
.search-list li .clear, .company-list li .clear {
  border-bottom: 1px solid #eeeeee;
  font-size: 15px;
  padding: .4rem .4rem .4rem 0;
}
.search-list li .f-r, .company-list li .f-r {
  font-size: 13px;
  color: #888B89;
}
.search-list li .count {
  color: #3CB371;
  font-size: 15px;
  float: right;
  margin-right: 1.333rem;
}
.search-list li.active, .company-list li.active {
  background: #F4F4F4;
  color: #3CB371;
}

/* notice */

.send-btn {
  border: 1px solid #3CB371;
  border-radius: 6px;
  font-size: 13px;
  color: #3CB371;
  float: right;
  line-height: .693rem;
  padding: 0 .067rem;
}
.send-notice {
  background: #3CB371;
  line-height: 1.333333rem;
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: fixed;
  z-index: 5;
  bottom: 0;
}
.edit {
  color: #DDDDDD;
  padding-top: .4rem;
  position: relative;
}
.edit textarea {
  border: 0;
  width: 100%;
  color: #333;
  font-size: 14px;
  text-indent: 30px;
}
.edit textarea::placeholder {
  color: #DDDDDD;
}
.edit i {
  position: absolute;
  top: .4rem;
  left: 0;
  font-size: 14px;
}
.histroy_info {
  position: fixed;
  top: 1.2rem;
  width: 100%;
}
.histroy_info dt, .enter-info dt {
  line-height: .907rem;
  background: #F8F8F8;
  color: #0D221A;
  font-size: 15px;
}
.histroy_info dt span, .enter-info dt span {
  margin-left: .267rem;
}
.histroy_info dt .f-r, .enter-info dt .f-r {
  font-size: 12px;
  color: #888B89;
}
.histroy_info dd, .enter-info dd {
  color: #888B89;
  padding: .133rem .4rem;
  line-height: .533rem;
  background-color: #fff;
}
.map-icon {
  position: absolute;
  right: .4rem;
  top: 50%;
  transform: translateY(-50%);
  color: #4B9CF2;
}
.map-icon i {
  font-size: 20px;
}